@model List<Sistema_Factura.ViewModels.AgregarProducto>
<table class="table">
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>CANTIDAD</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioProductoCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>                              
            </tr>
        }
    </tbody>
</table>