
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2 class="text-center">Clientes Registrados</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">
        <i class="bi bi-plus-circle-dotted"></i>&nbsp; Nuevo Usuario
    </button><br /><br />
    <div id="Mensaje">
        @*MENSAJE UPDATE, NEW, DELETE*@
    </div>

    @*REGISTROS DATABASE*@
    <table class="table table-bordered"margin-bottom:20px">
        @*HEADER DATA*@
        <thead>
            <tr>
                <th>CODIGO CLIENTE</th>
                <th>NOMBRE</th>
                <th>NIT</th>                
                <th></th>
            </tr>
        </thead>

        @*DATA*@
        <tbody class="TBodyCliente"></tbody>
    </table>

</div>

@*SCRIPTS DE JAVASCRIPT*@
@section Scripts{
    <script src="~/js/Cliente/Cliente.js"></script>
} 